@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital@1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'STIX Two Text', serif;
}

body{
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

.sidebar{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: #1A9B12;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}

.sidebar.active{
    width: 240px;
}

.sidebar .logo_content .logo{
    color: #fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    opacity: 0;
    pointer-events: none;
}

.nav_list{
    margin-left: -30px;
}

.sidebar.active .logo_content .logo{
    opacity: 1;
    transition-delay: 2s;
    transition: all 2.5s ease;
    pointer-events: none;
}

.logo_content .logo i{
    font-size: 28px;
    margin-right: 5px;
}

.logo_content .logo .logo_name{
    font-size: 21px;
    font-weight: 700;
}

.sidebar #btn{
    position: absolute;
    color: #fff;
    left: 60%;
    top: 6px;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
}

.sidebar.active #btn{
    left: 90%;
}

.sidebar ul{
    margin-top: 20px;
}

.sidebar ul li{
    position: relative;
    height: 50px;
    width: 100%;
    margin: 0 5px;
    list-style: none;
    line-height: 50px;
}

.sidebar ul li .tooltip{
    position: absolute;
    height: 35px;
    width: 122px;
    left: 122px;
    top: 50%;
    line-height: 35px;
    border-radius: 6px;
    transform: translateY(-100%);
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: 0s;
    pointer-events: none;
    opacity: 0;
}

.sidebar.active ul li .tooltip{
    display: none;
}

.sidebar ul li:hover .tooltip{
    top: 50%;
    left: 80%;
    transition: all 0.3s ease;
    transform: translateY(-60%);
    opacity: 1;
}

.sidebar ul li a{
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.3s ease;
    border-radius: 5px;
    white-space: nowrap;
}

.sidebar ul li a:hover{
    color: #1A9B12;
    background: #fff;
}

.sidebar ul li a i{
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}

.sidebar .links_name{
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}

.sidebar.active .links_name{
    opacity: 1;
    pointer-events: auto;
}

.sidebar .profile_content{
    position: absolute;
    color: #fff;
    bottom: 0;
    left: 0;
    width: 100%;
}

.sidebar .profile_content .profile{
    position: relative;
    padding: 10px 6px;
    height: 60px;
    background: none;
    transition: all 0.4s ease;
}

.profile_content .profile .profile_details{
    display: flex;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
}

.sidebar.active .profile_content .profile{
    background: #43C25E;
}

.sidebar.active .profile .profile_details{
    opacity: 1;
    pointer-events: auto;
    transition: all 2s ease;
}

.profile .profile_details .name_job{
    margin-left: 10px;
}

.profile .profile_details .name{
    margin: 10px 10px;
    font-size: 20px;
    font-weight: 400;
}

.profile #log_out{
    position: absolute;
    left: 50%;
    bottom: 5px;
    transform: translateX(-50%);
    min-width: 50px;
    line-height: 50px;
    font-size: 20px;
    border-radius: 12px;
    text-align: center;
    transition: all 0.4s ease;
    background: #43C25E;
    color: white;
}

.sidebar.active .profile #log_out{
    left: 88%;
}

.running{
    position: absolute;
    width: 130px;
    left: -25px;
    bottom: 30px;
    transition: all 7s ease;
}

.sidebar.active .running{
    position: absolute;
    width: 130px;
    left: 1785px;
    bottom: 30px;
}