@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital@1&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'STIX Two Text',sans-serif;
    background:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),
        url("./picture/profile_bg.PNG")  center/cover no-repeat fixed;
    color: white;
    text-shadow: 4px 4px 0px black;
    height: 100vh;
    align-items: center;
}

#icons{
    height: 200px;
    width: 65px;
    position: sticky;
    left: 0;
    top: calc(50% - 100px);
    background: black;
    border-radius: 0 60px 60px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 998;
    box-shadow: 3px 3px 3px white;
}

#icons:hover{
    background-color: #1acc99;
    box-shadow: 3px 3px 3px black;
}

#icons a{
    text-decoration: none;
    height: 40px;
    width: 40px;
    font-size: 23px;
    color: white;
    display: grid;
    place-items: center;
    margin: 20px 0
}

#icons a:hover{
    color: black;
}

#main{
    margin:-50px auto;
    width: 80%;
    height: 60vh;
    background-color: rgba(0,0,0,0.3);
    box-shadow: 4px 4px 10px white;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    line-height: 2;
    letter-spacing: 3px;
    word-spacing: 15px;
    padding: 50px 0;
}

.back {
    display:inline-block;
    font-size:25px;
    font-weight: bold;
    margin: 40px auto;
    padding: 0px 10px;
    text-align:center;
    border:thick double white;
    text-decoration: none;
    color: white;
    text-shadow:none;
}

.back:hover {
    background:rgb(255, 255, 255) ;
    color:rgb(0, 0, 0);
        border:thick double black;

}
